// ============ DESIGN & DEVELOPMENT - RED ============
.dev-design {
	strong, b, h2 {
		color: $red;
	}
	a {
		color: $red;
		&:hover {
				color: $offwhite-red;
		}
	}
	.bg-image {
		box-shadow: 1px 1px 10px 1px $red;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 400px;
		width: 100%;
	}
	.btn {
		display: inline-block;
		border: 3px solid $red;
		border-radius: 30px;
		padding: 5px;
		width: 100%;
		max-width: 200px;
		margin: 10px 0 25px 0;
		overflow: hidden;
		&:hover {
			color: $red;
			background-color: $offwhite-red;
			cursor: pointer;
		}
	}
	.project-divider {
		width: 100px;
		height: 5px;
		margin: 0 auto;
		background-color: $red;
	}
	.blurb {
		box-shadow: 1px 1px 5px 1px $offwhite-red;
		padding: 12px 0;
	}
}

// ============ GRAPHIC DESIGN - PURPLE ============
.graphic-design {
	strong, b, h2 {
		color: $purple;
	}
	a {
		color: $purple;
		&:hover {
			color: $light_purple;
		}
	}
	.bg-image {
		box-shadow: 1px 1px 10px 1px $purple;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 400px;
		width: 100%;
	}
	.btn {
		display: inline-block;
		border: 3px solid $purple;
		border-radius: 30px;
		padding: 5px;
		width: 100%;
		max-width: 200px;
		margin: 10px 0 25px 0;
		overflow: hidden;
		&:hover {
			color: $red;
			background-color: $light_purple;
			cursor: pointer;
		}
	}
	.project-divider {
		width: 100px;
		height: 5px;
		margin: 0 auto;
		background-color: $purple;
	}
	.blurb {
		box-shadow: 1px 1px 5px 1px $light_purple;
		padding: 12px 0;
	}
}

// ============ MISC FOR THE WHOLE THEME ============
.project-divider-wrap {
  padding-bottom: 3%;
}

.project-content {
	p {
		font-size: 18px;
		padding: 0 5%;
	}
}

.header-wrapper {
	padding: 25px 0;
}

.project-examples {
	display: flex;
	justify-content: space-between;
	li {
		display: block;
		padding-top: 50px;
	}
}