// ============ DESIGN & DEVELOPMENT - RED ============
.dev-design {
	strong, b, h2 {
		color: $red;
	}
	a {
		color: $red;
		&:hover {
				color: $offwhite-red;
		}
	}
	.project-divider {
		width: 50px;
		height: 5px;
		margin: 0 auto;
		background-color: $red;
	}
	.bg-image {
		border: 10px solid $offwhite-red;
		background-position: left top;
		background-repeat: no-repeat;
		background-size: cover;
		height: 50vh;
		width: 100%;
	}
}

// ============ GRAPHIC DESIGN - PURPLE ============
.graphic-design {
	strong, b, h2 {
		color: $purple;
	}
	a {
		color: $purple;
		&:hover {
			color: $light_purple;
		}
	}
	.project-divider {
		width: 50px;
		height: 5px;
		margin: 0 auto;
		background-color: $purple;
	}
	.bg-image {
		border: 10px solid $light_purple;
		background-position: left top;
		background-repeat: no-repeat;
		background-size: cover;
		height: 50vh;
		width: 100%;
	}
}

// ============ MISC FOR THE WHOLE THEME ============
.project-divider-wrap {
  padding-bottom: 3%;
}

.project-content {
	p {
		font-size: 18px;
	}
}

.header-wrapper {
	padding: 25px 0;
}