/*
    Global theme styling
*/

// .about-img {
//     border: 12px solid $light_gray;
//     border-radius: 50%;
//     max-width: 75% !important;
// }

.skill-icon {
    max-width: 100px !important;
    color: $dark_gray !important;
}

.contact-icon img {
    background-color: #fff;
    max-width: 100px !important;
    max-height: 100px !important;
    border: 1px solid $light_gray;
    padding: 20px;
}

// Posts
body.single-post.material[data-bg-header="true"] .container-wrap {
    padding-top: 0 !important;
}

.blog-title {
    text-align: center;
    h1 {
        text-transform: initial !important;
        margin: 0 auto !important;
    }
    a {
        pointer-events: none;
    }
}

.post .post-content > .content-inner, #ajax-content-wrap > .container-wrap, #ajax-content-wrap .main-content > .row {
    padding-bottom: 0 !important;
}

.single-post .bottom-meta,.single-post .comments-section {
    display: none !important;
}

//Isotope Filter
.project-filter {
    .col {
        width: 33.33% !important;
        margin-right: 0% !important;
        margin-bottom: 0% !important;
        @include size(tablet) {
            width: calc(50% - 1px) !important;
        }
        .inner-wrap {
            position: relative;
            border: 1px solid $light_gray;
            margin: 10px;
            transition: $easyease !important;
            &::after {
                content: 'VIEW PROJECT';
                display: flex;
                width: 100%;
                height: 0;
                position: absolute;
                top: 0;
                left: 0;
                pointer-events: none;
                background-color: $dark-pink;
                color: #FFF;
                font-size: 16px;
                align-items: center;
                align-content: center;
                z-index: 69;
                visibility: initial;
                justify-content: center;
                opacity: 0;
                transition: $easyease !important;
            }
        }
        &:hover {
            .inner-wrap {
                border: 1px solid $dark-pink;
                &::after {
                    opacity: 1;
                    height: 100%;
                }
            }
        }
    }
    .article-content-wrap {
        display: none !important;
    }
    .filter {
        font-family: Muli;
        font-size: 16px;
        color: #FFF;
        border: 1px solid $dark-pink;
        border-radius: 0 !important;
        background-color: $dark-pink;
        padding: 8px;
        margin: 10px 5px;
        @include size(phone) {
            font-size: 14px;
            padding: 6px;
            display: block;
            margin: 10px auto;
        }
        cursor: pointer;
        &:hover {
            color: $dark-pink;
            background-color: #FFF;
        }
    }
    .selected {
        color: $dark-pink;
        background-color: #FFF;
    }
}

.type-post {
    .meta-category > a {
        display: none !important;
    }
    .entire-meta-link {
        box-shadow: none;
    }
    img {
        transform: none !important;
    }
}

.blog-recent[data-style*="classic_enhanced"] .inner-wrap {
    border-radius: 0;
    box-shadow: 0 0;
}