.headerz {
    color: $dark_gray !important;
    position: relative;
    display: inline-block;
    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 10px;
        background-color: $dark-pink;
        position: absolute;
        padding: 0 10px;
        bottom: 11px;
        left: -10px;
        z-index: -1;
    }
}

h3, h4 {
    color: $dark_gray !important;
}

p {
    color: $black !important;
}


// Old Layout Colors
.header-red h2 {
    color: $red !important;
}

.header-offRed h4 {
    color: $offwhite-red !important;
}

.body-offRed p {
    color: $offwhite-red !important;
}

.body-offPurple p {
    color: $light_purple;
}